<! DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="C:\Users\rodri\Desktop\YORPOGRAMO\mod2\PAGES\styles\style1.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <title>PORTAFOLIO YO PROGRAMO</title>
    <link rel="icon" type="image/png" href="C:\Users\rodri\Desktop\YORPOGRAMO\mod2\img\descarga.png">
</head>


<body>
    
    

    <div>
        
        <img src="C:\Users\rodri\Desktop\YORPOGRAMO\mod2\img\portada1.png" class="rounded"
        alt="Imagen encabezado" width="100%" height="50%"
        >
        
    </div>   

  <div class="card mb-3" style="max-width: auto;">
    <div class="shadow p-3 mb-5 bg-body rounded">
  
    <div class="row g-0">
        
      <div class="col-md-4">
              <img src="C:\Users\rodri\Desktop\YORPOGRAMO\mod2\img\perfil1 - copia (2).png" class="rounded"  hspace="80" alt="Imagen perfil"   >
            </div>
      
             <div class="col-md-8">
                 <div class="card-body">
                    <h1 class="card-title">STEFANI SOLANGE MONTES</h1>
                     <h2 class="card-text">Developer Full Stack Jr.</h2>
                     <h2 class="card-text">Córdoba, Argentina.</h2>
                      <a title="Linkedin" href="https://www.linkedin.com/in/StefaniMontes"><img src="C:\Users\rodri\Desktop\YORPOGRAMO\mod2\img\58e91afdeb97430e81906504.png" alt="logolinkedin" height="45" /></a>
                    <a title="Instagram" href="https://www.instagram.com/stefanimontes_"><img src="C:\Users\rodri\Desktop\YORPOGRAMO\mod2\img\cd939-logo-instagram-png.png" alt="logoinstagram" height="45" HSPACE="20"/></a>
                 
                 </div>
             </div>
            </div>
        </div>
    
    </div>

  <div class="accordion" id="accordionExample">


    <div class="accordion-item" >
      <div class="shadow p-3 mb-5 bg-body rounded">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          INTERESES
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Desarrollarme profesionalmente, adquiriendo en el camino experiencias y nuevos desafios, para así formar mi perfil como programador/a de manera completa, poder aportar conocimientos en diferentes áreas, estando actualizada en nuevas tecnologias y explorar el uso correcto de todas las herramientas que nos brinda ésta profesión. </p>
        </div>
      </div>
      </div>


    </div>
    <div class="accordion-item">
      <div class="shadow p-3 mb-5 bg-body rounded">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          FORMACIÓN
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul > 
            <li type="circle">CURSO ARGENTINA PROGRAMA ETAPA 1 (#SEPROGRAMAR) COMPLETO</li>
            <li type="circle">CURSO ARGENTINA PROGRAMA ETAPA 2 (#YOPROGRAMO) EN CURSO</li>
            <li type="circle">CURSO TESTING QA MANUAL (CODER HOUSE) EN CURSO</li>
            <li type="circle">CURSO INICIACION A LA PROGRAMACIO (PLATZI) EN CURSO</li>
                        
        </ul>
        </div>
      </div>
    </div>


    </div>

    <div class="accordion-item">
      <div class="shadow p-3 mb-5 bg-body rounded">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          SKILLS
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">

          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
          </div>
          <div>
            <h4>CSS</h4>
          </div>

          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
          </div>
          <div>
            <h4>HTML</h4>
          </div>

          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
          </div>
          <div>
            <h4>BOOTSTRAP</h4>
          </div>

          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>
          <div>
            <h4>JAVASCRIPT</h4>
          </div>

          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>
          <div>
            <h4>otro</h4>
          </div>

          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>
          <div>
            <h4>otro</h4>
          </div>

          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>
          <div>
            <h4>otro</h4>
          </div>

        </div>
      </div>
    </div>
    </div>

  </div>




</body>
        
    
