h1 {
    
    color:rgb(43, 43, 112);
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 0px;
    
 }

 h2{
    color: crimson;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 0px
    

 }

 p{
   text-align: center;
 }

 .accordion-item {
   display: block;color: rgb(43, 43, 112);
   }




body {
   background-color: lightslategrey;
}   


